.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cardBox {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  max-width: 350px;
}

.cardBox .card_img {
  max-width: 70%;
  height: auto;
  border: 8px solid lightgray;
  border-radius: 50%;
}

.cardBox .card_h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(200, 217, 18);
}

.cardBox .card_p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(131, 160, 74);
}